.content_bar{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}
.right-sidebar{
    border-left: 1px solid lightgray;
}
.cus_checkbox{
    text-align: center;
    display: flex;
    padding-left: 0px !important;
    padding-right: 0px !important;   
}
.cus_function_div{
    margin-top: -25px !important;
    margin-bottom: -25px !important;
    padding-right: 0px !important;
}
.cus-check_div{
    width: 25%;
}
.cus-assign_div{
    width: 6%;
}
/*  */
.cus-img_div{
    position: realtive;
    width: 60%;
}
.cus_image{
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.cus-img_middle{
    background-color: #354052;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 60%;
    height: 100%;
    top: 100%;
    left: 25%;
    transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    text-align: center;
}
.cus-img_div:hover .cus-img_middle{
    opacity: 0.8;
}
.cus-img_div:hover .cus_image{
    opacity: 1;
}
.cus-img_text{
    color: white;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
}
/*  */
.cus-sucess_comments{
    color: #1bb934;
}
.cus-tooltip_btn{
    will-change: transform;
    top: 6.7rem;
    left: 0px;
}
.cus-tooltip_top{
    left: 37px;
}
.cus-interactive_bar{
    padding-top: 0.5rem;
}
.cus-choice_label {
    color: #354052 !important;
    display: inline-flex !important;
    flex-direction: row-reverse !important;
    font-weight: 600 !important;
}
.cus-special-indicators__list {
    padding: 0;
}
.cus-button_div {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.cus-collaction_ul{
    text-align: center;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.cus-collection_span{
    padding-top: 0.3rem;
}
.cus-remove_btn{
    position: absolute;
    right: -5rem;
    bottom: 0;
}
.cus-assign_bar{
    position: absolute !important;
    margin-left: 4.2rem;
    margin-top: -2.2rem;
}
.cus-collection_bar{
    position: absolute !important;
    margin-top: -2.2rem;
}
.cus-fade_in{
    opacity:0;
}
.cus-close_btn{
    position: fixed;
    margin-left: 3rem;
    margin-top: -0.1rem;
}

.cus-recommend_icon {
    position: absolute;
    top: 0;
    width: 0; 
    height: 0;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #f5a308 ;
}
.cus_star_icon{
    color: white;
    margin-left: -3.5rem;
}
.cus-assigned_add_btn{
    position: absolute;
    bottom: 10%;
}
  