.content_bar{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}
.right-sidebar{
    border-left: 1px solid lightgray;
}
.cus_image{
    width: 100%;
}
.cus_img_div{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.cus_checkbox{
    text-align: center;
    display: flex;
    padding-left: 0px !important;
    padding-right: 0px !important;   
}
.cus_function_div{
    margin-top: -25px !important;
    margin-bottom: -25px !important;
    padding-right: 0px !important;
}
.cus-check_div{
    width: 25%;
}
.cus-assign_div{
    width: 6%;
}
.cus-img_div{
    width: 60%;
}
.cus-sucess_comments{
    color: #1bb934;
}
.cus-tooltip_btn{
    will-change: transform;
    top: 6.7rem;
    left: 0px;
}
.cus-tooltip_top{
    left: 37px;
}
.cus-interactive_bar{
    padding-top: 0.5rem;
}
.cus-choice_label {
    color: #354052 !important;
    display: inline-flex !important;
    flex-direction: row-reverse !important;
    font-weight: 600 !important;
}
.cus-special-indicators__list {
    padding: 0;
}
.cus-button_div {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.cus-collaction_ul{
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.cus-tool-tip{
  display: inline-flex !important;
  flex-direction: column !important;
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}
.cus-collection_span{
    padding-top: 0.3rem;
}
.cus-remove_btn{
    position: absolute;
    right: -5rem;
}
.cus-assign_bar{
    position: absolute !important;
    margin-left: 4.2rem;
    margin-top: -2.2rem;
}
.cus-fade_in{
    opacity:0;
}