.content_bar{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}
.right-sidebar{
    border-left: 1px solid lightgray;
}
.content_tex{
    width: 100%;
    height: 100%;
}
.cus_image{
        width: 100%;
}
.cus_checkbox{
    text-align: center;
}